fw/fw/Debug/
sch/switch_module/switch_module_grb/
sch/IV6_module/iv6_grb/
*.rar
sch/full/
sch/Base_board/Base/
models/
*.ods
*.csv
*.zip
fw/memorybrd/Debug/
~*~
*.o
*.d
*.a
*.eep
*.elf
fw/iv6brd/ATmega168_Debug/
fw/mcuUtil/ATmega168_Debug/
