fw/fw/Debug/
sch/switch_module/switch_module_grb/
sch/IV6_module/iv6_grb/
*.rar
sch/full/
sch/Base_board/Base/
models/
*.ods
*.csv
*.zip
fw/memorybrd/Debug/
~*~
*.o
*.d
*.a
*.eep
*.elf
fw/iv6brd/ATmega168_Debug/
fw/mcuUtil/ATmega168_Debug/
*.gbr
*.drl
*.nc
*.stl
*.dwg
*.dxf
doc/Chassis/
fw/build/CMakeFiles/upload_bfrun_eeprom.dir/progress.make
fw/build/
bf/calcPi/calcPi/calcPi/Debug/
bf/calcPi/calcPi/calcPi/x64/
fw/memorybrd/build/
fw/iv6brd/build/
fw/bin/
